/* Skrytie scrollbaru pre Chrome, Safari a Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Skrytie scrollbaru pre IE, Edge a Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Aktívny stav pri ťahaní */
.hide-scrollbar.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}